torch
torchvision
torchaudio
albumentations
datasets
Pillow
matplotlib
numpy
scikit-learn
seaborn
tqdm
opencv-python
nbformat
import_ipynb
python-dotenv
pandas
umap-learn
jupyter
flake8
huggingface_hub
ipyvuetify
imbalanced-learn