
body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

main{
    gap: 36px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    padding-block: 36px;
}

.card {
    background: white;
    width: 500px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 22px;
    letter-spacing: 2px;
    color: #1a237e;
}

h2 {
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    color: #555;
}

input[type="file"] {
    margin: 20px 0;
}

button {
    background: #1976d2;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #0d47a1;
}

.result {
    margin-top: 25px;
}

.prediction {
    font-size: 18px;
    font-weight: bold;
}

.bar-container {
    background: #e0e0e0;
    border-radius: 20px;
    height: 20px;
    width: 100%;
    margin-top: 10px;
}

.bar {
    height: 100%;
    border-radius: 20px;
    background: #d32f2f;
    text-align: right;
    color: white;
    padding-right: 5px;
    line-height: 20px;
    font-size: 12px;
}

.normal {
    background: #388e3c;
}


pre {
    background: #eee;
    padding: 15px;
    overflow-x: auto;
}

img {
    width: 100%;
}